<!DOCTYPE html>
<html lang="es">

<head>
    <!--METATAGS-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="IsosWare" content="Solución tecnológica de los Sistemas Integrados de Gestión">
    <meta name="Description"
        content="Mejora tu administracion con una solucion digital que te permitirá monitorear tu Sistema de Gestión de Seguridad y Salud en el Trabajo desde tu Smartphone permitiendo optimizar el trabajo de tus Jefes de SSOMAS y SST - ISO's Ware.">
    <meta mame="Keywords"
        content="APP-ISO's Ware, Sistemas Integrados de Gestión, Gestion de Normas ISO, previene multas de SUNAFIL">
    <meta name="author" content="ISO's ware">

    <!--METATAGS-->

    <!--LINKS ANCLADOS-->
    <link rel="icon" type="image/png" href="/images/icon.png">
    <link rel="stylesheet" href="../glideJS/glide-3.2.4/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="../glideJS/glide-3.2.4/dist/css/glide.theme.min.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/preguntas.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <title>ISO's Ware - Preguntas Frecuentes</title>
</head>

<body>
    <div class="flotante">
        <a target="_blank"
            href="https://api.whatsapp.com/send?phone=937527944&text=¡Hola%20Iso's%20Ware!%20Quiero%20Obtener%20mas%20Informacion%20por%20favor."><i
                class="fab fa-whatsapp"></i></a>
    </div>
    <header>
        <nav>
            <div class="logo">
                <div class="cajon-1">
                    <a href="../index.html"><img src="../images/hori_negro_logo.png" alt="ISO'S PERU LOGOTIPO"
                            srcset=""></a>
                    <div class="btn-sup">
                        <i class="fas fa-bars"></i>
                    </div>
                </div>
                <div class="sombra show">
                    <div class="closed">
                        <i class="fas fa-times"></i>
                    </div>
                    <ul class="lista-1">
                        <li class="hover-anclas"><img src="../images/logo-hori.png" alt="" class="no-activo-img"></li>
                        <li class=" hover-anclas"><a href="../index.html">Inicio</a></li>
                        <li class="hover-anclas "><a href="../view/nosotros.html">Nosotros</a></li>
                        <li class="hover-anclas"><a href="">Caracteristicas</a></li>
                        <li class="hover-anclas"><a href="../view/soluciones.html">Soluciones</a></li>
                        <li class="hover-anclas active"><a href="../view/recursos.html">Recursos</a></li>
                        <li><a class="acceder" href="../index.html">Acceder</a></li>

                    </ul>

                </div>
            </div>

        </nav>
    </header>

    <main>
        <section class="preguntas">
            <div class="img-pregunta">
                <img src="../images/duda2.png" alt="">

            </div>
            <div class="cajones-preguntas">
                <div class="title-preguntas">
                    <h1>Preguntas Frecuentes</h1>
                    <p>¿Aún con dudas? En esta seccion te mostramos las preguntas mas recurrentes de nuestros usuarios.
                    </p>
                </div>
                <div class="cajoncitos">
                    <button class="accordion">¿Cómo la aplicación ISO's Ware facilita el cumplimiento legal?</button>
                    <div class="panel">
                        <p>El aplicativo hace un análisis de lo que las empresas y organizaciones deben contemplar para
                            cumplir la ley. Una vez hecho este análisis se traslada a la herramienta para que permita
                            facilitar este cumplimiento. Nuestro equipo está permanentemente haciendo el análisis legal
                            para que posteriormente sea traducido a la tecnología móvil.</p>
                    </div>

                    <button class="accordion">¿Cómo la aplicación ISO's Ware mantiene la información privada y siempre
                        disponible?</button>
                    <div class="panel">
                        <p>Trabajamos con AWS Amazon que es el líder mundial en seguridad a través de sus servidores. La
                            información esta disponible en cualquier momento y es completamente confidencial.</p>
                    </div>

                    <button class="accordion">¿Está garantizado que el aplicativo ISO's Ware se rige bajo las normativas
                        legales?</button>
                    <div class="panel">
                        <p>Todo se puede gestionar desde el app. La parte legal y el cumplimiento de un Sistema de
                            Seguridad y Salud en el Trabajo visto desde diferentes ángulos y sectores tiene ese
                            cumplimiento.</p>
                    </div>
                    <button class="accordion">¿Los documentos generados por el aplicativo ISO's Ware pueden ser
                        descargados por desktops?</button>
                    <div class="panel">
                        <p>Si. El aplicativo te permite generar registros y documentaciones que puedes convertir a PDF,
                            listos para ser compartidos y descargados en cualquier dispositivo.

                        </p>
                    </div>
                    <button class="accordion">¿Con la aplicación reemplazo el trabajo de los SSOMA?</button>
                    <div class="panel">
                        <p>No, La APP no reemplaza. El aplicativo apoya y mejora la eficiencia del trabajador SSOMA y
                            del departamento de SST en general.</p>
                    </div>
                    <button class="accordion">¿Puedo usar la aplicación sin internet?</button>
                    <div class="panel">
                        <p>La APP necesita de conexión de internet para que se puedan mostrar los formatos en PDF, ya
                            que este proceso se realiza en los servidores. Además, ayuda a que toda la información esté
                            sincronizada y disponible en cualquier momento.</p>
                    </div>
                    <button class="accordion">¿Puedo usar la aplicación para registrar la asistencia de mis
                        trabajadores?</button>
                    <div class="panel">
                        <p>LPuedes registrar la asistencia de tus trabajadores a charlas, capacitaciones, simulacros y
                            demás. Sin embargo, no reemplaza la asistencia al centro de labores.</p>
                    </div>
                    <button class="accordion">¿Los documentos de la aplicación son auditables?</button>
                    <div class="panel">
                        <p>Todos los reportes emitidos por la APP son auditables y válidos. Para ello, no olvides
                            realizar un acuerdo entre ambas partes. Por ejemplo, una reunión con el CSST para reconocer
                            a la APP como herramienta del SIG y una inducción a todos los trabajadores sobre el uso del
                            aplicativo.</p>
                    </div>
                    <button class="accordion">¿Puedo usarlo en cualquier dispositivo móvil?</button>
                    <div class="panel">
                        <p>La APP exige características mínimas de hardware a los dispositivos en los que se usará, sin
                            embargo, actualmente nos enfocamos en cumplir con la normativa legal y complementamos esta
                            gestión con formatos adicionales enfocados a la Norma ISO 45001. En paralelo, estamos
                            desarrollando módulos de ISO 14000, ISO 37001 e ISO 26000.</p>
                    </div>
                    <button class="accordion">¿Cómo introduzco la firma de mis trabajadores?</button>
                    <div class="panel">
                        <p>La APP solicitará por una primera y única vez el diseño de la firma al momento de registrar
                            los trabajadores. En este acto, cada trabajador introducirá un código PIN que reemplazará el
                            acto de firmar al ingresar el código PIN.</p>
                    </div>


                </div>
            </div>
        </section>

    </main>



    <footer>
        <div class="foot">
            <div class="wid-foot">
                <div class="wid">
                    <img class="img-foot" src="/images/logo-blanco.png" alt="">
                    <p class="text-foot">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga corporis est,
                        blanditiis labore iste modi quam dignissimos dolorum fugit quos </p>
                </div>
                <div class="wid widgets-center">
                    <h1>Nuestros Servicios</h1>
                    <ul class="lista-1-foot">
                        <li class="anclas-li-foot"><a href="">Cumplimiento Legal</a></li>
                        <li class="anclas-li-foot"><a href="">Consultoría </a></li>
                        <li class="anclas-li-foot"><a href="">Externalización </a></li>
                        <li class="anclas-li-foot"><a href="">Portal del desarrollador</a></li>
                        <li class="anclas-li-foot"><a href="">Guía Coordinación</a></li>
                    </ul>
                </div>
                <div class="wid widgets-center">
                    <h1>Otros</h1>
                    <ul class="lista-1-foot">
                        <li class="anclas-li-foot"><a href="">Inicio</a></li>
                        <li class="anclas-li-foot"><a href="">Terminos y condiciones</a></li>
                        <li class="anclas-li-foot"><a href="">Noticias</a></li>
                        <li class="anclas-li-foot"><a href="">Clientes</a></li>
                        <li class="anclas-li-foot"><a href="">Tarifas</a></li>
                    </ul>
                </div>
                <div class="wid">
                    <h1>Contactanos</h1>
                    <ul class="lista-1-foot">
                        <li class="info-foot"><i class="fas fa-map-marker-alt"></i>
                            <p>Av. Circunvalación del Golf Los Incas 208 Of. 604A</p>
                        </li>
                        <li class="info-foot"><i class="far fa-envelope"></i>
                            <p>contacto@isosware.com</p>
                        </li>
                        <li class="info-foot"><i class="fas fa-mobile-alt"></i>
                            <p>+51 937 527 944</p>
                        </li>
                        <a class="decargar-foot" href="#">Contactar</a>
                    </ul>
                </div>
            </div>
            <div class="pie-copy">
                <div class="terminos">
                    <p>Copyright © By ISO's Ware.</p>
                    <p class="derechos">Todos los derechos reservados</p>


                </div>
                <div class="copy">
                    <li class="redes-sociales">
                        <a title="@Iso's Ware" href=""><i class="fab fa-facebook-f"></i></a>
                        <a title="ISO's Ware®" href=""><i class="fab fa-linkedin"></i></a>
                        <a title="" href=""><i class="fab fa-instagram"></i></a>

                        <a title="ISO's Ware YT" href=""><i class="fab fa-youtube"></i></a>
                    </li>
                </div>
            </div>
        </div>
    </footer>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active-2");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="../js/js.js"></script>
    <script src="../js/nav.js"></script>
</body>

</html>