<!DOCTYPE html>
<html lang="es">

<head>
    <!--METATAGS-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="IsosWare" content="Solución tecnológica de los Sistemas Integrados de Gestión">
    <meta name="Description"
        content="Mejora tu administracion con una solucion digital que te permitirá monitorear tu Sistema de Gestión de Seguridad y Salud en el Trabajo desde tu Smartphone permitiendo optimizar el trabajo de tus Jefes de SSOMAS y SST - ISO's Ware.">
    <meta mame="Keywords"
        content="APP-ISO's Ware, Sistemas Integrados de Gestión, Gestion de Normas ISO, previene multas de SUNAFIL">
    <meta name="author" content="ISO's ware">
    <!--METATAGS-->

    <!--LINKS ANCLADOS-->
    <link rel="icon" type="image/png" href="/images/icon.png">
    <link rel="stylesheet" href="../glideJS/glide-3.2.4/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="../glideJS/glide-3.2.4/dist/css/glide.theme.min.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/recursos.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    
   
    <title>ISO's Ware - Recursos</title>
</head>

<body>
    <div class="flotante">
        <a target="_blank"
            href="https://api.whatsapp.com/send?phone=937527944&text=¡Hola%20Iso's%20Ware!%20Quiero%20Obtener%20mas%20Informacion%20por%20favor."><i
                class="fab fa-whatsapp"></i></a>
    </div>
    <header>
        <nav>
            <div class="logo">
                <div class="cajon-1">
                    <a href="../index.html"><img src="../images/hori_negro_logo.png" alt="ISO'S PERU LOGOTIPO" srcset=""></a> 
                    <div class="btn-sup">
                        <i class="fas fa-bars"></i>
                    </div>
                </div>
                <div class="sombra show">
                    <div class="closed">
                        <i class="fas fa-times"></i>
                    </div>
                    <ul class="lista-1">
                        <li class="hover-anclas"><img src="../images/logo-blanco.png" alt="" class="no-activo-img"></li>
                        <li class=" hover-anclas"><a href="../index.html">Inicio</a></li>
                        <li class="hover-anclas "><a href="../view/nosotros.html">Nosotros</a></li>
                        <li class="hover-anclas"><a href="">Caracteristicas</a></li>
                        <li class="hover-anclas"><a href="../view/soluciones.html">Soluciones</a></li>
                        <li class="hover-anclas active"><a href="../view/recursos.html">Recursos</a></li>
                        <li ><a class="acceder" href="../index.html">Acceder</a></li>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section class="recursos">
            <div class="cajon-recursos">
                <h1 class="title-recursos">Recursos Ware</h1>
                <div class="wid-recursos">
                    <div class="widget-recu">
                        <i class="fas fa-clipboard-list"></i>
                        <h2>Blog Ware</h2>
                        <a class="hover-robot" href="../view/blog.php">Ver Blog</a>
                        <div class="robot-mirando-arriba">
                            <img src="../images/robot-mirando-arriba.png" title="Robot Ware" alt="ISO's Ware - Recursos Ware ">
                        </div>
                    </div>
                    <div class="widget-recu">
                        <i class="fab fa-buromobelexperte"></i>
                        <h2>Brochure Ware</h2>
                        <a class="hover-robot" href="#">Descargar</a>
                        <div class="robot-mirando-arriba">
                            <img src="../images/manos2.png" title="Robot Ware" alt="ISO's Ware - Recursos Ware ">
                        </div>
                    </div>
                    <div class="widget-recu">
                        <i class="fas fa-file-video"></i>                       
                         <h2>Videos</h2>
                        <a class="hover-robot" href="../view/videos.html">Ver videos</a>
                        <div class="robot-mirando-arriba">
                            <img src="../images/robot-mirando-arriba.png" title="Robot Ware" alt="ISO's Ware - Recursos Ware ">
                        </div>
                    </div>
                </div>
            </div>
            <div class="cajon-recursos">
                <div class="wid-recursos">
                    <div class="widget-recu">
                        <i class="fas fa-tasks"></i>
                        <h2>Actualizaciones</h2>
                        <a class="hover-robot" href="#">Ver Más</a>
                        <div class="robot-mirando-arriba">
                            <img src="../images/manos2.png" title="Robot Ware" alt="ISO's Ware - Recursos Ware ">
                        </div>
                    </div>
                    <div class="widget-recu">
                        <i class="fas fa-question-circle"></i>
                        <h2>Preguntas Ware</h2>
                        <a class="hover-robot" href="../view/preguntas.html">Ver Más</a>
                        <div class="robot-mirando-arriba">
                            <img src="../images/robot-mirando-arriba.png" title="Robot Ware" alt="ISO's Ware - Recursos Ware ">
                        </div>
                    </div>
                    <div class="widget-recu">
                        <i class="fas fa-random"></i>                  
                         <h2>Otros</h2>
                        <a class="hover-robot" href="#">Ver Más</a>
                        <div class="robot-mirando-arriba">
                            <img src="../images/manos2.png" title="Robot Ware" alt="ISO's Ware - Recursos Ware ">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="foot">
            <div class="wid-foot">
                <div class="wid">
                    <img class="img-foot" src="../images/logo-blanco.png" alt="">
                    <p class="text-foot">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga corporis est,
                        blanditiis labore iste modi quam dignissimos dolorum fugit quos </p>
                </div>
                <div class="wid widgets-center">
                    <h1>Nuestros Servicios</h1>
                    <ul class="lista-1-foot">
                        <li class="anclas-li-foot"><a href="">Cumplimiento Legal</a></li>
                        <li class="anclas-li-foot"><a href="">Consultoría </a></li>
                        <li class="anclas-li-foot"><a href="">Externalización </a></li>
                        <li class="anclas-li-foot"><a href="">Portal del desarrollador</a></li>
                        <li class="anclas-li-foot"><a href="">Guía Coordinación</a></li>
                    </ul>
                </div>
                <div class="wid widgets-center">
                    <h1>Otros</h1>
                    <ul class="lista-1-foot">
                        <li class="anclas-li-foot"><a href="">Inicio</a></li>
                        <li class="anclas-li-foot"><a href="">Terminos y condiciones</a></li>
                        <li class="anclas-li-foot"><a href="">Noticias</a></li>
                        <li class="anclas-li-foot"><a href="">Clientes</a></li>
                        <li class="anclas-li-foot"><a href="">Tarifas</a></li>
                    </ul>
                </div>
                <div class="wid">
                    <h1>Contactanos</h1>
                    <ul class="lista-1-foot">
                        <li class="info-foot"><i class="fas fa-map-marker-alt"></i>
                            <p>Av. Circunvalación del Golf Los Incas 208 Of. 604A</p>
                        </li>
                        <li class="info-foot"><i class="far fa-envelope"></i>
                            <p>contacto@isosware.com</p>
                        </li>
                        <li class="info-foot"><i class="fas fa-mobile-alt"></i>
                            <p>+51 937 527 944</p>
                        </li>
                        <a class="decargar-foot" href="#">Contactar</a>
                    </ul>
                </div>
            </div>
            <div class="pie-copy">
                <div class="terminos">
                    <p>Copyright © By ISO's Ware.</p>
                    <p class="derechos">Todos los derechos reservados</p>


                </div>
                <div class="copy">
                    <li class="redes-sociales">
                        <a title="@Iso's Ware" href=""><i class="fab fa-facebook-f"></i></a>
                        <a title="ISO's Ware®" href=""><i class="fab fa-linkedin"></i></a>
                        <a title="" href=""><i class="fab fa-instagram"></i></a>

                        <a title="ISO's Ware YT" href=""><i class="fab fa-youtube"></i></a>
                    </li>
                </div>
            </div>
        </div>
    </footer>
    
    
    <script src="../js/js.js"></script>
    <script src="../js/nav.js"></script>
</body>

</html>