<!DOCTYPE html>
<html lang="es">

<head>
    <!--METATAGS-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="IsosWare" content="Solución tecnológica de los Sistemas Integrados de Gestión">
    <meta name="Description"
        content="Mejora tu administracion con una solucion digital que te permitirá monitorear tu Sistema de Gestión de Seguridad y Salud en el Trabajo desde tu Smartphone permitiendo optimizar el trabajo de tus Jefes de SSOMAS y SST - ISO's Ware.">
    <meta mame="Keywords"
        content="APP-ISO's Ware, Sistemas Integrados de Gestión, Gestion de Normas ISO, previene multas de SUNAFIL">
    <meta name="author" content="ISO's ware">
    <!--METATAGS-->

    <!--LINKS ANCLADOS-->
    <link rel="icon" type="image/png" href="../images/icon.png">

    <link rel="stylesheet" href="../glideJS/glide-3.2.4/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="../glideJS/glide-3.2.4/dist/css/glide.theme.min.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/videos.css">    
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <title>ISO's Ware - Recursos</title>
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <div class="cajon-1">
                    <a href="../index.html"><img src="../images/hori_negro_logo.png" alt="ISO'S PERU LOGOTIPO" srcset=""></a>
                    <div class="btn-sup">
                        <i class="fas fa-bars"></i>
                    </div>
                </div>
                <div class="sombra show">
                    <div class="closed">
                        <i class="fas fa-times"></i>
                    </div>
                    <ul class="lista-1">
                        <li class="hover-anclas"><img src="../images/logo-hori.png" alt="" class="no-activo-img"></li>
                        <li class=" hover-anclas"><a href="../index.html">Inicio</a></li>
                        <li class="hover-anclas active"><a href="../view/nosotros.html">Nosotros</a></li>
                        <li class="hover-anclas"><a href="">Caracteristicas</a></li>
                        <li class="hover-anclas"><a href="">Soluciones</a></li>
                        <li class="hover-anclas"><a href="../view/recursos.html">Recursos</a></li>
                        <li ><a class="acceder" href="../index.html">Acceder</a></li>
                        
                    </ul>
                    
                </div>
            </div>
            
        </nav>
    </header>
    <main>
        <section class="portada-videos">
            <div class="title-videos">
                <div class="migajas">
                    <a href="../index.html">Inicio</a><span>/</span><a href="..w/view/recursos.html">Recursos</a><span>/</span><a href="/view/videos.html">Videos</a>
                </div>
                <h1>Videos Ware</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, optio!</p>
            </div>
        </section>

        <section class="galeriaVideos">

            <div class="video-slider">

                <div class="cajon-video">
                    <div class="content-reproductor " data-bs-toggle="modal" data-bs-target="#exampleModa1">
                        <i class="far fa-play-circle"></i>
                    </div>
                    <a type="button" class="wid-video" href="">
                        <video autoplay loop class="materialboxed" src="../video/video-1.mp4"></video>
                    </a>

                    <!-- Modal -->
                    <div class="modal fade " id="exampleModa1" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content bg-dark ">
                                <div class="modal-header border-0 ">
                                    <h5 class="modal-title text-white" id="exampleModalLabel">Modal title</h5>
                                    <a type="button" data-bs-dismiss="modal" aria-label="Close"><i
                                            class="icon-close-video fas fa-times"></i></a>
                                </div>
                                <div class="wid-video modal-body p-0 ">
                                    <video controls="controls" class="materialboxed" src="../video/video-1.mp4"></video>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="cajon-video" >
                    <div class="content-reproductor" data-bs-toggle="modal" data-bs-target="#exampleModa2">
                        <i class="far fa-play-circle"></i>
                    </div>
                    <a type="button" class="wid-video">
                        <video autoplay loop class="materialboxed" src="../video/video-2.mp4"></video>
                    </a>

                    <!-- Modal -->
                    <div class="modal fade " id="exampleModa2" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-xl ">
                            <div class="modal-content bg-dark ">
                                <div class="modal-header border-0 ">
                                    <h5 class="modal-title text-white" id="exampleModalLabel">Modal title</h5>
                                    <a type="button" data-bs-dismiss="modal" aria-label="Close"><i
                                            class="icon-close-video fas fa-times"></i></a>
                                </div>
                                <div class="wid-video modal-body p-0 ">
                                    <video controls="controls" class="materialboxed" src="../video/video-2.mp4"></video>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="cajon-video">
                    <div class="content-reproductor" data-bs-toggle="modal" data-bs-target="#exampleModa3">
                        <i class="far fa-play-circle"></i>
                    </div>
                    <a type="button" class="wid-video" >
                        <video autoplay loop class="materialboxed" src="../video/video-3.mp4"></video>
                    </a>

                    <!-- Modal -->
                    <div class="modal fade " id="exampleModa3" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-xl ">
                            <div class="modal-content bg-dark ">
                                <div class="modal-header border-0 ">
                                    <h5 class="modal-title text-white" id="exampleModalLabel">Modal title</h5>
                                    <a type="button" data-bs-dismiss="modal" aria-label="Close"><i
                                            class="icon-close-video fas fa-times"></i></a>
                                </div>
                                <div class="wid-video modal-body p-0 ">
                                    <video controls="controls" class="materialboxed" src="../video/video-3.mp4"></video>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>




                <div class="cajon-video">
                    <div class="content-reproductor" data-bs-toggle="modal" data-bs-target="#exampleModa4">
                        <i class="far fa-play-circle"></i>
                    </div>
                    <a type="button" class="wid-video" >
                        <video autoplay loop class="materialboxed" src="../video/video-4.mp4"></video>
                    </a>

                    <!-- Modal -->
                    <div class="modal fade " id="exampleModa4" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-xl ">
                            <div class="modal-content bg-dark ">
                                <div class="modal-header border-0 ">
                                    <h5 class="modal-title text-white" id="exampleModalLabel">Modal title</h5>
                                    <a type="button" data-bs-dismiss="modal" aria-label="Close"><i
                                            class="icon-close-video fas fa-times"></i></a>
                                </div>
                                <div class="wid-video modal-body p-0 ">
                                    <video controls="controls" class="materialboxed" src="../video/video-4.mp4"></video>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="cajon-video">
                    <div class="content-reproductor" data-bs-toggle="modal" data-bs-target="#exampleModa5">
                        <i class="far fa-play-circle"></i>
                    </div>
                    <a type="button" class="wid-video" >
                        <video autoplay loop class="materialboxed" src="../video/video-5.mp4"></video>
                    </a>

                    <!-- Modal -->
                    <div class="modal fade " id="exampleModa5" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-xl ">
                            <div class="modal-content bg-dark ">
                                <div class="modal-header border-0 ">
                                    <h5 class="modal-title text-white" id="exampleModalLabel">Modal title</h5>
                                    <a type="button" data-bs-dismiss="modal" aria-label="Close"><i
                                            class="icon-close-video fas fa-times"></i></a>
                                </div>
                                <div class="wid-video modal-body p-0 ">
                                    <video controls="controls" class="materialboxed" src="../video/video-5.mp4"></video>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="cajon-video">
                    <div class="content-reproductor" data-bs-toggle="modal" data-bs-target="#exampleModa6">
                        <i class="far fa-play-circle"></i>
                    </div>
                    <a type="button" class="wid-video" >
                        <video autoplay loop class="materialboxed" src="../video/video-6.mp4"></video>
                    </a>

                    <!-- Modal -->
                    <div class="modal fade " id="exampleModa6" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-xl ">
                            <div class="modal-content bg-dark ">
                                <div class="modal-header border-0 ">
                                    <h5 class="modal-title text-white" id="exampleModalLabel">Modal title</h5>
                                    <a type="button" data-bs-dismiss="modal" aria-label="Close"><i
                                            class="icon-close-video fas fa-times"></i></a>
                                </div>
                                <div class="wid-video modal-body p-0 ">
                                    <video controls="controls" class="materialboxed" src="../video/video-6.mp4"></video>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </section>

    </main>





    <footer>
        <div class="foot">
            <div class="wid-foot">
                <div class="wid">
                    <img class="img-foot" src="/images/logo-hori.png" alt="">
                    <p class="text-foot">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga corporis est,
                        blanditiis labore iste modi quam dignissimos dolorum fugit quos </p>
                </div>
                <div class="wid widgets-center">
                    <h1>Nuestros Servicios</h1>
                    <ul class="lista-1-foot listas-widgets-foot">
                        <li class="anclas-li-foot"><a href="">Cumplimiento Legal</a></li>
                        <li class="anclas-li-foot"><a href="">Consultoría </a></li>
                        <li class="anclas-li-foot"><a href="">Externalización </a></li>
                        <li class="anclas-li-foot"><a href="">Portal del desarrollador</a></li>
                        <li class="anclas-li-foot"><a href="">Guía Coordinación</a></li>
                    </ul>
                </div>
                <div class="wid widgets-center">
                    <h1>Otros</h1>
                    <ul class="lista-1-foot listas-widgets-foot">
                        <li class="anclas-li-foot"><a href="">Inicio</a></li>
                        <li class="anclas-li-foot"><a href="">Terminos y condiciones</a></li>
                        <li class="anclas-li-foot"><a href="">Noticias</a></li>
                        <li class="anclas-li-foot"><a href="">Clientes</a></li>
                        <li class="anclas-li-foot"><a href="">Tarifas</a></li>
                    </ul>
                </div>
                <div class="wid">
                    <h1>Contactanos</h1>
                    <ul class="lista-1-foot widgets-contact">
                        <li class="info-foot"><i class="fas fa-map-marker-alt"></i>
                            <p>Av. Circunvalación del Golf Los Incas 208 Of. 604A</p>
                        </li>
                        <li class="info-foot"><i class="far fa-envelope"></i>
                            <p>contacto@isosware.com</p>
                        </li>
                        <li class="info-foot"><i class="fas fa-mobile-alt"></i>
                            <p>+51 937 527 944</p>
                        </li>
                        <a class="decargar-foot" href="#">Contactar</a>
                    </ul>
                </div>
            </div>
            <div class="pie-copy">
                <div class="terminos">
                    <p>Copyright © By ISO's Ware.</p>
                    <p class="derechos">Todos los derechos reservados</p>


                </div>
                <div class="copy">
                    <li class="redes-sociales">
                        <a title="@Iso's Ware" href=""><i class="fab fa-facebook-f"></i></a>
                        <a title="ISO's Ware®" href=""><i class="fab fa-linkedin"></i></a>
                        <a title="" href=""><i class="fab fa-instagram"></i></a>

                        <a title="ISO's Ware YT" href=""><i class="fab fa-youtube"></i></a>
                    </li>
                </div>
            </div>
        </div>
    </footer>
    <div class="flotante">
        <a target="_blank"
            href="https://api.whatsapp.com/send?phone=937527944&text=¡Hola%20Iso's%20Ware!%20Quiero%20Obtener%20mas%20Informacion%20por%20favor."><i
                class="fab fa-whatsapp"></i></a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="../glideJS/jquery/jquery-3.3.1.min.js"></script>
    <script src="../glideJS/popper/popper.min.js"></script>
    <script src="../glideJS//glide-3.2.4/dist/glide.min.js"></script>
    <script src="../js/nav.js"></script>
</body>

</html>